[Unit]
Description=Valon Synth Telem + CLI Socket Server
After=multi-user.target

[Service]
Type=simple
Environment="PATH=/home/USER_PLACEHOLDER/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=/usr/bin/env valon-telem-server
Restart=on-failure
RestartSec=5
User=USER_PLACEHOLDER
WorkingDirectory=WORKDIR_PLACEHOLDER
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

